@import '@helpers/scss';

$namespace: '.view';
$children: #{$namespace}__;
$modifiers: #{$namespace}--;

$sidebar-border-radius: 3.2rem;
$sidebar-background: linear-gradient(180deg, transparent, rgba($secondary-color--dark, 0.5));
$sidebar-spacing: 3.2rem;
$sidebar-color: $tertiary-color--contrast;
$sidebar-width: 48rem;

$main-spacing: 3.2rem;

$overlay-background: linear-gradient(165deg, $smog-color, $smoke-color);

#{$namespace} {
	position: relative;
	display: flex;
	// CHILDREN
	#{$children} {
		&background {
			top: 0;
			left: 0;
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: -2;
			// IMAGE
			&-image {
				object-fit: cover;
			}
			// OVERLAY
			&-overlay {
				background: $overlay-background;
				position: fixed;
				width: 100%;
				height: 100%;
				opacity: 0.5;
				z-index: -1;
			}
		}
		&sidebar {
			position: relative;
			flex: none;
			width: $sidebar-width;
			&-inner {
				display: flex;
				flex-direction: column;
				padding: $sidebar-spacing;
				position: fixed;
				right: 0;
				height: 100vh;
				width: $sidebar-width;
				z-index: 9;
				margin: 0;
				background: $sidebar-background;
				box-shadow: 0 0 $sidebar-spacing 0 rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(2.4rem);
			}
			// HEADER
			&-header {
				flex: none;
				height: auto;
				padding-bottom: 3.2rem;
				display: flex;
			}
			// CONTENT
			&-content {
				flex: 1;
				overflow: hidden auto;
			}
		}
		&main {
			flex: 1;
			// INNER
			&-inner {
				padding: $main-spacing ($main-spacing * 3);
				max-width: 96rem;
			}
		}
		// HEADLINE
		&headline {
			margin-top: 7.2rem;
			font-size: 7.2rem;
			color: $smoke-color;
			// color: rgb(245, 222, 179);
			letter-spacing: -0.2rem;
			font-weight: 700;
			line-height: 8rem;
			margin-bottom: 3.2rem;
		}
		// BODY
		&body {
			margin: 0;
			& p {
				font-size: 2.6rem;
				margin-bottom: 1.6rem;
				line-height: 3.6rem;
				color: $smoke-color--dark;
				font-weight: 500;
			}
		}
		// LANGUAGE SWITCH
		&switch {
			display: flex;
			text-transform: uppercase;
			text-align: center;
			justify-content: center;
			align-items: center;
			& p {
				margin: 0 0.8rem;
				padding: 0;
				font-size: 1.8rem;
				color: $smoke-color--dark;
				font-weight: 700;
			}
		}
		// SORT BY
		&sort-by {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.4rem;
			line-height: 1.4rem;
			margin-left: 2.4rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			text-align: right;
			&-field {
				background-color: $black-color;
				color: $white-color;
				padding: 0 0.8rem 0 0;
				border-radius: 16rem;
				margin-left: 0.8rem;
			}
			&-control {
				background: none;
				height: 4rem;
				border-radius: 0.4rem;
				border: none;
				padding: 0.4rem;
				margin-left: 0.8rem;
				font-size: 1.6rem;
				flex: 1;
				color: $white-color;
				& option {
					color: $black-color;
				}
			}
		}
		// CARD LIST & ITEM
		&card {
			&-list {}
			&-item {
				display: flex;
				background-color: #fff;
				box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.1);
				border-radius: 1.2rem;
				width: 100%;
				min-height: 9.6rem;
				margin-bottom: 1.2rem;
				padding: 1.6rem 2.4rem;
				position: relative;
				overflow: hidden;
				flex-shrink: 0;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;
				flex-direction: row;
				&-col {
					&:nth-child(2) {
						flex-direction: row;
						align-items: flex-end;
						display: flex;
						text-align: right;
						flex: 1;
						min-width: 14.4rem;
						justify-content: flex-end;
					}
				}
				&-name {
					font-size: 2.8rem;
					font-weight: 700;
					// text-overflow: ellipsis;
					overflow: hidden;
					line-height: 3.2rem;
					word-break: break-word;
				}
				&-cigg,
				&-aqi {
					display: flex;
					flex-direction: column;
					flex: none;
					line-height: 1.8rem;
					font-size: 2.8rem;
					font-weight: 700;
					& span {
						line-height: 1.4rem;
						font-size: 1.2rem;
						text-transform: uppercase;
						margin-top: 0.4rem;
					}
				}
				&-cigg {
					margin-left: 1.6rem;
				}
				&-aqi {
				}
			}
		}
	}
}

#{$modifiers} {
	// TODO:
	// MAKE THE SIDEBAR TO POP OPEN FROM RIGHT HAND SIDE VIA A HAMBURGER ICON
	&mobile {
		flex-direction: column;
		#{$children} {
			// SIDEBAR
			&sidebar {
				width: 100%;
				&-inner {
					width: 100%;
					position: relative;
					padding: $sidebar-spacing;
					&::before {
						left: 0;
					}
				}
			}
			// MAIN
			&main {
				min-height: 48rem;
			}
			// HEADLINE
			&headline {
				margin-top: 2.4rem;
				font-size: 5.6rem;
				line-height: 7.2rem;
			}
		}
	}
}
