{
	"plugins": [
		"@babel/plugin-transform-runtime"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": {
					"version": "3",
					"proposals": true
				},
				"targets": {
					"browsers": [
						"last 2 versions",
						"> 1%",
						"IE 11"
					],
				},
				"useBuiltIns": "usage"
			}
		],
		"@babel/preset-react",
		"@babel/preset-typescript"
	]
}